
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" /> 
    <title> HelloWorld </title>
</head>

<body>
   <div>
        @ViewBag.Message
        <h1> Hello World </h1>
    </div>
</body>
</html>

